# Virtual Environments
venv/
.venv/

# Environment variables
.env

# Python cache files
__pycache__/

# Byte-compiled files
*.pyc
*.pyo
*.pyd
*.egg-info/

# Cache folders
.*_cache

# Log files
*.log
*.err

# Hydra Outputs
outputs/

# Dataset 
images/
results/
valid_results/
analysis/