# Virtual Environments
venv/
.venv/

# Environment variables
.env

# Python cache files
__pycache__/

# Log files
logs/

# Dataset 
images/
results/
valid_results/
analysis/

# Temporary files
tmp/
experiments/